<%- include ("./components/header.ejs") %>
<div class="flex flex-col p-8 md:p-16 md:flex-row bg-[#e8fdf8]">
    <div class="basis-1/2  md:p-8 font-raleway">
        <div class="text-4xl md:text-6xl">
            <h1 class="font-light mb-8">Health care services <span class="font-semibold">at your fingertips</span></h1>
        </div>
        <div>
            <h1 class="font-light text-2xl md:text-4xl leading-snug">Sign up today to get free reliable healthcare consultancies</h1>
        </div>
        <a href="/register">
        <button class="text-white bg-[#0D9276] rounded-md text-lg py-2 px-5 my-10 cursor-pointer shadow-lg hover:shadow-[0_0_15px_#0ea484] hover:bg-[#0c8d71]">Sign Up</button>
        </a>
    </div>
    <div class="basis-1/2 md:p-8">
        <img src="images/doctor.png" alt="doctor-image" class=" mx-auto">
    </div>
</div>
<%- include ("./components/footer.ejs") %>