<%- include ("./components/header.ejs") %>

    <div class="w-full bg-[#e8fdf8]">
      <div class="grid  py-5 px-28">
        <div class="justify-center bg-white rounded-l-xl p-12 shadow-[-10px_15px_25px_5px_rgba(0,0,0,0.25)]">
          <form id="form1">
            <!-- Account Information -->
            <h2 class="text-3xl text-[#0D9276] mb-10 ">Account Information</h2>
            <!-- User Name -->
            <div class="flex h-12 mt-3 mb-6 border-gray-400 border-b-[1px] items-center px-3 py-2">
              <input class="enabled:bg-none enabled:border-none enabled:outline-none ml-2" type="text" id="username"
                name="username" placeholder="User Name" required>
            </div>
            <!-- Full Name -->
            <div class="flex h-12 mt-3 mb-6 border-gray-400 border-b-[1px] items-center px-3 py-2">
              <input class="enabled:bg-none enabled:border-none enabled:outline-none ml-2" type="text" id="fullname"
                name="fullname" placeholder="Full Name" required>
            </div>
            <!-- Batch Name -->
            <div class="flex h-12 mt-3 mb-6 border-gray-400 border-b-[1px] items-center px-3 py-2">
              <input class="enabled:bg-none enabled:border-none enabled:outline-none ml-2" type="text" id="batch"
                name="batch" placeholder="Batch Name" required>
            </div>
            <!-- Admin Secret -->
            <div class="flex h-12 mt-3 mb-6 border-gray-400 border-b-[1px] items-center px-3 py-2">
              <input class="enabled:bg-none enabled:border-none enabled:outline-none ml-2" type="text" id="admin"
                name="admin" placeholder="Admin Secret" required>
            </div>
          
            <!-- Password -->
            <div class="flex h-12 mt-3 mb-6 border-gray-400 border-b-[1px] items-center px-3 py-2">
              <input class="enabled:bg-none enabled:border-none enabled:outline-none ml-2" type="password" id="password"
                name="password" placeholder="Password" required>
            </div>
            <div
              class="border-2 mt-2 w-full px-3 py-2 mb-3 flex justify-center items-center bg-[#0D9276] text-white font-semibold rounded-full ">
              <input type="submit" name="register" value="Register">
            </div>

          </form>
        </div>
    
      </div>
    </div>


      <script>
        $(document).ready(function () {

          $('#form1').submit(function (event) {
            event.preventDefault();
            const combinedData = $('#form1').serializeArray()

            $.ajax({
              url: '/register',
              type: 'POST',
              data: combinedData,
              success: function (response) {
                console.log('User created:', response);
                window.location.href = '/profile';
              },
              error: function (error) {
                console.error('Error creating user:', error);
              }
            });
          });
        });
      </script>
<%- include ("./components/footer.ejs") %>
